<!DOCTYPE html>
<html>

<head>
    <title>Chrome Extension</title>
    <meta charset="utf-8">
</head>

<body>
    <div id="links-container" style="width: 450px;">
        <p>Welcome to Chrome Extension</p>
        <p>What to add some new features see here https://developer.chrome.com/docs/extensions</p>
        <p>Created By Surinder</p>
        <p>Please show some support by giving start to this project</p>
        <a href="https://github.com/surinderlohat/create-chrome-extension.git">
            https://github.com/surinderlohat/create-chrome-extension.git
        </a>
        <p>About the developer: <a href=" https://github.com/surinderlohat">
                Surinder Singh
            </a>
        </p>
    </div>
</body>

</html>